<p>トレーニング開始画面(仮)</p>
<div id="mouse_txt" style="position:absolute; visibility:hidden; font-size:0.8em; background-color:#FFFFFF; border-style:ridge;"></div>

<div style="text-align: center">
  <img id="kinniku" src="/kinniku.png" width="1000px">
</div>
  
  <script>
    document.getElementById( "kinniku" ).onclick = function( event ) {
      var clickX = event.pageX ;
	    var clickY = event.pageY ;

	// 要素の位置を取得
	    var clientRect = this.getBoundingClientRect() ;
	    var positionX = clientRect.left + window.pageXOffset ;
	    var positionY = clientRect.top + window.pageYOffset ;

	// 要素内におけるクリック位置を計算
	    var x = clickX - positionX ;
	    var y = clickY - positionY ;
      console.log("クリックした位置のX座標は")
      console.log(x)
      console.log("クリックした位置のY座標は")
      console.log(y)

      // メモ　顔の中心 233,301
      // メモ 顔のてっぺん 233,191
      if ((x - 172)*(x - 172) + (y - 191)*(y - 191) < 361) {
        window.location.href = "https://fbfdee68fd364ffea1261e6df44cc822.vfs.cloud9.ap-northeast-1.amazonaws.com/shoulder_training"
        console.log("肩がクリックされました")

      }
    }

    const kinniku = document.getElementById("kinniku");
    const mouse_txt = document.getElementById("mouse_txt");

    kinniku.addEventListener("mousemove", function(event) {
      var clickX = event.pageX ;
	    var clickY = event.pageY ;

	// 要素の位置を取得
	    var clientRect = this.getBoundingClientRect() ;
	    var positionX = clientRect.left + window.pageXOffset ;
	    var positionY = clientRect.top + window.pageYOffset ;

	// 要素内におけるクリック位置を計算
	    var x = clickX - positionX ;
	    var y = clickY - positionY ;
      if ((x - 172)*(x - 172) + (y -191)*(y - 191) < 361) {
        console.log("hogehoge")
        mouse_txt.innerHTML = "ここは肩です";
        mouse_txt.style.visibility = "visible"
        mouse_txt.style.left = x
        mouse_txt.style.top = y
      } else {
        mouse_txt.style.visibility = "hidden"
      }
    })
    
    //左肩の位置
    document.getElementById( "kinniku" ).onclick = function( event ) {
      var clickX = event.pageX ;
	    var clickY = event.pageY ;

	// 要素の位置を取得
	    var clientRect = this.getBoundingClientRect() ;
	    var positionX = clientRect.left + window.pageXOffset ;
	    var positionY = clientRect.top + window.pageYOffset ;

	// 要素内におけるクリック位置を計算
	    var x = clickX - positionX ;
	    var y = clickY - positionY ;
      console.log("クリックした位置のX座標は")
      console.log(x)
      console.log("クリックした位置のY座標は")
      console.log(y)

      // メモ　顔の中心 233,301
      // メモ 顔のてっぺん 233,191
      if ((x - 172)*(x - 172) + (y - 191)*(y - 191) < 361) {
        window.location.href = "https://fbfdee68fd364ffea1261e6df44cc822.vfs.cloud9.ap-northeast-1.amazonaws.com/shoulder_training"
        console.log("肩がクリックされました")

      }
    }

    const kinniku = document.getElementById("kinniku");
    const mouse_txt = document.getElementById("mouse_txt");

    kinniku.addEventListener("mousemove", function(event) {
      var clickX = event.pageX ;
	    var clickY = event.pageY ;

	// 要素の位置を取得
	    var clientRect = this.getBoundingClientRect() ;
	    var positionX = clientRect.left + window.pageXOffset ;
	    var positionY = clientRect.top + window.pageYOffset ;

	// 要素内におけるクリック位置を計算
	    var x = clickX - positionX ;
	    var y = clickY - positionY ;
      if ((x - 172)*(x - 172) + (y -191)*(y - 191) < 361) {
        console.log("hogehoge")
        mouse_txt.innerHTML = "ここは肩です";
        mouse_txt.style.visibility = "visible"
        mouse_txt.style.left = x
        mouse_txt.style.top = y
      } else {
        mouse_txt.style.visibility = "hidden"
      }
    })
    
    
    

  </script>

